main {
  display: flex;
  flex-direction: column;
  gap: 54px;

  @media (min-width: 1024px) {
    flex-direction: row;

    app-published-survey {
      flex: 0 1 702px;
    }
  }
}

.state {
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--primary-purple);

  &.error {
    color: #b3261e;
  }
}
