.survey-results {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 54px;

  .results-box {
    display: flex;
    flex-direction: column;

    button {
      display: flex;
      font-size: 18px;
      gap: 4px;
      border: none;
      margin-left: 10px;
      margin-right: auto;
      align-items: center;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;

      img {
        content: url('/assets/icons/arrow_drop_down_purple.svg');
      }

      &:hover {
        background-color: #8e70991a;
        img {
          content: url('/assets/icons/arrow_drop_down_orange.svg');
        }
      }
    }
  }

  .results-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--primary-purple);
    padding: 15px;
    font-family: var(--font-body);

    .title {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: var(--font-heading);
      font-size: 22px;

      h1 {
        color: var(--primary-orange);
      }

      h2 {
        color: var(--primary-purple);
      }
    }

    .results {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .question {
        display: flex;
        gap: 10px;
      }

      .bars {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .bar {
          display: flex;
          gap: 12px;

          .progressbar {
            width: 100%;
            background-color: #EDEDED;
            border-radius: 0 20px 20px 0;
            

            .filler {
              height: 100%;
              width: 27%;
              background-color: var(--primary-orange);
              border-radius: 0 20px 20px 0;
            }
          }

          .percent {
            color: #D79451;
          }
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
