.survey-results {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .results-box {
    display: flex;
    flex-direction: column;
    

    button {
      display: flex;
      font-size: 18px;
      gap: 4px;
      border: none;
      margin-left: 10px;
      margin-right: auto;
      align-items: center;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;

      img {
        content: url("/assets/icons/arrow_drop_down_purple.svg");
      }

      &:hover {
        background-color: #8E70991A;
        img {
          content: url("/assets/icons/arrow_drop_down_orange.svg");
        }
      }

      
    }
  }

  .results-content {
    gap: 16px;

    .title {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: var(--font-heading);
      font-size: 22px;

      h1 {
        color: var(--primary-orange);
      }

      h2 {
        color: var(--primary-purple);
      }
    }

    .results {

    }
  }
}
