:host {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding: 48px var(--content-padding-inline) 54px;

  @media (min-width: 768px) {
    padding-block: 54px;
  }
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  a {
    display: inline-flex;
  }

  img {
    display: block;
    height: 46px;
    width: auto;
  }

  button {
    display: none;
    padding: 10px 16px;
    background-color: var(--secondary-orange);

    &:hover {
      background-color: var(--primary-orange);
    }

    @media (min-width: 1024px) {
      display: inline-flex;
    }
  }
}
