<main>
  <div class="frame">
    <div class="header">
      <div class="title">
        <h5>Draft</h5>
        <h2>Create new survey</h2>
      </div>
      <div class="buttons">
        <img class="exit" src="assets/icons/exit_dark.svg" alt="Cancel" />
        <button class="cancel">Cancel <img src="assets/icons/close.svg" alt="" /></button>
      </div>
    </div>
    <div class="input-fields">
      <div class="info-frame">
        <div class="name input-title">
          <span><b>Survey name</b></span>
          <img src="assets/icons/delete.svg" alt="" />
        </div>
        <input type="text" />
        <div class="drop-down">
          <span>Choose category</span>
          <img src="assets/icons/arrow_drop_down_white.svg" alt="" />
        </div>
        <div class="date input-title">
          <span><b>Set and date</b> (optional)</span>
          <img src="assets/icons/delete.svg" alt="" />
        </div>
        <input type="text" />
        <div class="description input-title">
          <span><b>Description text</b> (optional)</span>
          <img src="assets/icons/delete.svg" alt="" />
        </div>
        <textarea name="" id=""></textarea>
      </div>
      <div class="qna-box">
        <div class="question input-title">
          <span><b>1. Question</b></span>
          <img src="assets/icons/delete.svg" alt="" />
        </div>
        <input type="text" placeholder="Which date would work best for you?" />
        <div class="answer-title">
          <span>Answers</span>
          <div class="answers-checkbox">
            <img src="assets/icons/checkbox_default_white.svg" alt="" />
            <span>Allow multiple answers.</span>
          </div>
        </div>
        <div class="answer"><span>A.</span><img src="assets/icons/delete.svg" alt="" /></div>
        <input type="text" />
      </div>
      <div class="add-button">
        <span>Add answer</span>
        <img src="assets/icons/add_circle_white.svg" alt="" />
      </div>
      <button>Add next question <img src="assets/icons/add_circle_white.svg" alt="" /></button>
    </div>
    <button class="publish">Publish <img src="assets/icons/check_checked_purple.svg" alt="" /></button>
  </div>
</main>
