<main>
  <h1>Your surveys</h1>
  <div class="carousell">
    <span>Ending soon surveys</span>
    <div class="cards">
      <div class="card">
        <div class="description">
          <h5>Health</h5>
          <h3>Fit & Wellness survey!</h3>
        </div>
        <span class="label">Ends in 2 Days</span>
      </div>
      <div class="card">
        <div class="description">
          <h5>Health</h5>
          <h3>Fit & Wellness survey!</h3>
        </div>
        <span class="label">Ends in 2 Days</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="left">Active survey</button>
    <button class="right">Past survey</button>
  </div>
  <div class="sort">
    <span>Sort by categories</span>
    <img src="assets/icons/arrow_drop_down.svg" alt="">
  </div>
</main>
