main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 16px;

  h1 {
    font-size: 54px;
    font-family: var(--font-heading);
    color: var(--primary-orange);
    text-align: center;
    letter-spacing: 2%;
  }

  .carousell {
    display: flex;
    flex-direction: column;
    gap: 16px;

    span {
      color: #fff;
      font-size: 24px;
      font-family: var(--font-body);
    }

    .cards {
      display: flex;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      overscroll-behavior-x: contain;
      scrollbar-width: none;
      gap: 16px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #faf5fe;
        flex-shrink: 0;
        width: 250px;
        height: 233px;
        border-radius: 0 80px 0 0;
        padding: 24px 16px;
        cursor: pointer;

        &:active {
          background-color: #F4E9FB;
        }

        .description {
          display: flex;
          flex-direction: column;
          color: var(--bg-primary);
          gap: 8px;
          font-family: var(--font-body);
          width: 80%;

          h5 {
            font-size: 14px;
            font-weight: 600;
          }

          h3 {
            font-size: 24px;
            font-weight: 700;
          }
        }

        .label {
          margin-right: auto;
          padding: 3px 6px;
          color: var(--bg-primary);
          background-color: var(--secondary-orange);
          font-family: var(--font-body);
          font-size: 12px;
          border-radius: 0 14px 0 0;
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 16px;

    .left,
    .right {
      border-radius: 20px;
      border: none;
      padding: 2px 10px;
      font-family: var(--font-button);
      font-size: 14px;
    }

    .left {
      background-color: var(--primary-orange);
    }

    .right {
      background-color: #fee9d4;
    }
  }

  .sort {
    display: flex;
    gap: 9px;

    span {
      color: #fff;
      font-family: var(--font-body);
      font-size: 18px;
      font-weight: 700;
    }
  }

  .survey-sort-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 70px;

    .other {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .survey {
        display: flex;
        flex-direction: column;
        height: 147px;
        max-width: 513px;
        background-color: #d9d9d914;
        border-radius: 5px 50px 5px 5px;
        padding: 12px 16px;
        cursor: pointer;

        .title {
          color: var(--secondary-orange);
          font-family: var(--font-body);
          font-weight: 500;
        }
      }
    }
  }
}
