@font-face {
    font-family: nerko_one;
    src: url('/assets/fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: mulish;
    src: url('/assets/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;   // variable Font: gesamter Gewichts-Bereich
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: nokora;
    src: url('/assets/fonts/Nokora/Nokora-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;   // variable Font: gesamter Gewichts-Bereich
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    overscroll-behavior-x: none;
    scrollbar-width: none;
}

body {
    background-color: var(--bg-primary);
}

:root {
    --bg-primary: #35273A;
    --bg-secondary: #8E70991A;
    --primary-orange: #FFB770;
    --secondary-orange: #FFCFA1;
    --primary-purple: #35273A;
    --secondary-purple: #221227;
    --font-heading: nerko_one;
    --font-body: mulish;
    --font-button: nokora;
    margin: 0;
}

