<section class="frame-survey">
  <div class="content-survey">
    <div class="main-frame">
      <div class="status-hl-box">
        <div class="status">
          <span>Published</span>
          <img src="assets/icons/Secpondary button.svg" alt="" />
        </div>
        <div class="date">
          <span>Ends on 01.09.2025</span>
          <span>Category: Teamactivities</span>
        </div>
        <h1>Let´s Plan the Next Team Event Together</h1>
      </div>
      <span
        >We want to create team activities that eveyone will enjoy - share your preferences and
        ideas in our survey to help us plan better expreiences together.</span
      >
    </div>
    <div class="questions-box">
      <div class="questions">
        <div class="question-component">
          <h3>1. Which date would work best for you?</h3>
          <h6>More than one answers are possible.</h6>
          <div></div>
        </div>
      </div>
      <button>Complete</button>
    </div>
  </div>
</section>
