.published-survey {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .published-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 702px;
    background-color: #8E70991A;
    border-radius: 40px 100px 40px 40px;

    .header {
      display: flex;
      justify-content: space-between;

      
    }
  }
}

