<section class="frame-survey">
  <div class="content-survey">
    <div class="main-frame">
      <div class="status-hl-box">
        <div class="status">
          <span>Published</span>
          <img src="assets/icons/Secpondary button.svg" alt="" />
        </div>
        <div class="date">
          <span>Ends on 01.09.2025</span>
          <span>Category: Teamactivities</span>
        </div>
        <h1>Let´s Plan the Next Team Event Together</h1>
      </div>
      <span
        >We want to create team activities that eveyone will enjoy - share your preferences and
        ideas in our survey to help us plan better expreiences together.</span
      >
    </div>
    <div class="questions-box">
      <div class="questions">
        <div class="question-component">
          <div class="question-frame">
            <h3>1.</h3>
            <div class="question">
              <h3>Which date would work best for you?</h3>
              <h6>More than one answers are possible.</h6>
            </div>
          </div>
          <div class="answers">
            <div class="answer">
              <img src="assets/icons/checkbox_default.svg" alt="" />
              <div class="answer-content">
                <h3>A.</h3>
                <span>19.09.2025, Friday</span>
              </div>
            </div>
            <div class="answer">
              <img src="assets/icons/checkbox_default.svg" alt="" />
              <div class="answer-content">
                <h3>B.</h3>
                <span>10.10.2025, Friday</span>
              </div>
            </div>
            <div class="answer">
              <img src="assets/icons/checkbox_default.svg" alt="" />
              <div class="answer-content">
                <h3>C.</h3>
                <span>11.10.2025, Saturday</span>
              </div>
            </div>
            <div class="answer">
              <img src="assets/icons/checkbox_default.svg" alt="" />
              <div class="answer-content">
                <h3>D.</h3>
                <span>31.10.2025, Friday</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="question-component">platzhalter</div>

      <button>Complete <img src="assets/icons/check.svg" alt=""></button>
    </div>
  </div>
</section>
