.frame-survey {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-body);

  .content-survey {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 702px;
    background-color: #8e70991a;
    border-radius: 0 100px 0 0;
    padding: 40px 15px;
    gap: 40px;

    .main-frame {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .status-hl-box {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .status {
          display: flex;
          justify-content: space-between;
          padding-right: 10px;

          span {
            display: flex;
            align-items: center;
            padding: 0 8px;
            background-color: var(--primary-orange);
            border-radius: 0 14px 0 0;
          }
        }

        .date {
          display: flex;
          color: var(--primary-purple);
          justify-content: space-between;
          font-size: 14px;
        }

        h1 {
          font-family: var(--font-heading);
          font-size: 48px;
          font-weight: 400;
          color: #ee9236;
          line-height: 42px;
        }
      }

      span {
        color: var(--secondary-purple);
      }
    }
  }

  .questions-box {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .questions,
    .question-component {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .question-frame {
        display: flex;
        gap: 3px;

        .question {
          display: flex;
          flex-direction: column;
          gap: 5px;

          h6 {
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      .answers {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .answer {
          display: flex;
          gap: 18px;
          font-size: 16px;
          align-items: center;

          img {
            height: 20px;
          }

          .answer-content {
            display: flex;
            gap: 4px;
            color: var(--primary-purple);

            h3 {
              font-weight: 700;
              font-size: 16px;
            }

            span {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
