:host {
  display: block;
}

.drop-down {
  position: relative;

  .drop-down-toggle {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
    background-color: transparent;
    font-family: var(--font-body);
    font-size: 18px;
    color: #fff;

    &.invalid {
      outline: 2px solid var(--primary-orange);
      outline-offset: 4px;
      border-radius: 4px;
    }
  }
}
